@import "../../theme/default-theme";

.device {
  font-family: Montserrat, sans-serif;
  & .view-div {
    display: flex;
    flex-wrap: wrap;
    & .element {

      width: 15rem;
      background-color: #FFFFFF;
      border-radius: 1.7rem 1.7rem;
      padding: 1rem 1rem;
      margin: 0.5rem 1rem;
      & div {
        display: block;
      }
      & .id_device, & .serial_number, & .depreciation,
      & .id_employee, & .id_office,
      & .depreciation_lenght, & .description, & .OS{
        display: none;
      }
    }
  }
}

.add-device {
  @include buttonsAddDel(url("../../modules/icons/add-button.svg"));
  margin-left: 1rem;
  position: absolute;
  left: 19rem;
  top: 0.2rem;
}