@import "../../theme/default-theme";

.view-div-more {
  position: absolute;
  top: 25%;
  left: 30%;

  padding: 1.5rem 1.5rem;
  width: 30%;
  font-family: Montserrat, sans-serif;

  background-color: #FFFFFF;
  border-radius: 1.7rem 1.7rem;
  border: 1px solid $purple;

  white-space: pre-wrap;
  word-break: break-all;
  & .title {
    color: $dark_shade_50;
  }
  & .title, & .depreciation {
    margin-top: 0.3rem;
  }
  & .id_employee, & .id_office, & .id_device {
    display: none;
  }
  & .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .button__delete, .button__cancel {
      @include buttonSaveCancel($purple);
      border: 1px solid $purple;
      width: 8rem;
      margin-right: auto;
    }
    & .button__update {
      @include buttonSaveCancel(#000000);
      background-image: $gradient;
      width: 8rem;
      margin-left: auto;
      margin-right: 1rem;
    }
    .invisible {
      display: none;
    }
  }
}
