div.header
    ul.elements
        li.employees
            div.button(type="button")='Работники'
        li.office
            div.button(type="button")='Кабинеты'
        li.device
            div.button(type="button")='Ноутбуки'