div.header
    img.logoFIT(src="http://www.fit.tsu.ru/sites/all/themes/gavias_mdeal/logo.png")
    ul.elements
        li.FAQ
            div.button(type="button")='О приложении'
        li.device
            div.button(type="button")='Ноутбуки'
        li.employees
            div.button(type="button")='Работники'
        li.office
            div.button(type="button")='Кабинеты'

