div.header
    ul.elements
        li.FAQ
            div.button(type="button")='FAQ'
        li.device
            div.button(type="button")='Ноутбуки'
        li.employees
            div.button(type="button")='Работники'
        li.office
            div.button(type="button")='Кабинеты'

