@import "../../theme/default-theme";

.update , .insert{
  width: 25rem;
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 20%;
  left: 1rem;

  padding: 1rem 2rem 2rem 1rem;

  background: white;
  border-radius: 5px;

  & .title{
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
    margin-bottom: 1rem;
  }
  & .id_employee, & .id_office, & .devices{
    display: none;
  }
  & input {
    @include input;
  }
  & .buttons {
    display: flex;
    & .cancel{
      @include buttonSaveCancel($dark_shade_50);
      border: 1px solid $dark_shade_25;
    }
    & .save{
      @include buttonSaveCancel(#FFFFFF);
      margin-left: 6rem;
      background-image: $gradient;
    }
  }
}


